.container{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
    border: 1px solid black;
    margin: 100px;
}
#a{
    height: 100px;
    width: 100px;
    background-color: green;
    padding: 300px;
    border: 2px solid ;
    margin: 75px;
}
#c{
    height: 300px;
    width: 300px;
    background-color: blue;
    padding: 20px;
    border: 1px solid yellow;
    margin: 100px;
}