.container{
    text-align: center;
    height: 700px;
    width: 1000px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 5px solid black;
}
.box1{
    padding: 10px;
    height: 500px;
    width: 300px;
    text-align: center;
    background-color: yellowgreen;
    display: inline-block;
}
.box2{
    padding: 10px;
    height: 500px;
    width: 300px;
    text-align: center;
    background-color: magenta;
    display: inline-block;
}
.box3{
    padding: 10px;
    height: 500px;
    width: 300px;
    text-align: center;
    background-color: aqua;
    display: inline-block;
}